@model Story
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = Model.Title;
}


<h1>@Model.Title</h1>
<h3>By @Model.AppUser.UserName</h3>
<h3>Series: @Model.Series</h3>
<p>@Model.StoryText</p>

<a asp-controller="Story" asp-action="Comment" asp-route-storyId="@Model.StoryId" 
   class="btn-sm btn-secondary col-3 m-3">Leave a Comment</a>
@if (Model.Comments.Count != 0)
{
    foreach (Comment comment in Model.Comments)
    {
        <h3>@comment.AppUser.UserName</h3>
        <p>@comment.Date</p>
        <p>@comment.Text</p>
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Story" asp-action="DeleteStory" asp-route-id="@comment.StoryId">Delete Story</a>
            }
        }
    }
}